[flake8]
max-line-length = 88
extend-ignore =
	E203,
	# Uncomment to disable enforcing docstrings
	D1,
required-plugins =
	flake8-docstring,
docstring-convention = google
per-file-ignores =
    # Uncomment to disable enforcing module-level docstring in tests/
     tests/*:D100,D104
